@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap');
:root {
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --primario: #F54E28;
    --gris: #e1e1e1;
    --blanco: #ffffff;
    --negro: #000000;
    --secundario:#fb69ca;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; 
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}
/** utilidades **/

.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
}

.centrar-texto{
    text-align: center;
}
/** Globales **/

a {text-decoration: none;}

h1, h2, h3, h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}

h1 {font-size: 4.8rem;}
h2 {font-size: 4rem;}
h3 {font-size: 3.2rem;}
h4 {font-size: 2.8rem;}
img {max-width: 100%;}


/* ---navbar--- */

.cont-nav{
    width: 100%;
    background-color:var(--secundario);
}
.cont-nav .navbar{
    padding: 1.3rem 0;
}

.cont-nav .navbar .container-fluid a {
    font-size: 1.8rem;
    padding: 0 2rem;
}

.navbar .container-fluid .navbar-brand ,
.navbar .container-fluid .btn{
    font-size: 1.8rem;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
}

.cont-nav .navbar .container-fluid .logo{
    font-size: 2.8rem;
    font-family: var(--fuenteHeading);
}
.cont-nav .navbar .container-fluid .logo span{
    font-weight: 700;
}

.navbar a{
    color: var(--blanco);
}

.navbar-nav{
   padding:0 10rem 0 0;
}

header{
    margin-bottom: 4.7rem;
} 

img{
    max-height: 100vh;
}

#toggleMyModal{
    position: absolute;
    right: 0;
    top:0;
    margin-top:2rem ;
    margin-right: 6rem;
}

/* -- banner inicio --  */

.banner-inicio{
    background-image: url(../img/fondomate3.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    
}

.banner-inicio h1{
    color: var(--blanco);
    text-align: center;
    font-family: var(--fuenteHeading);
    font-size: 10rem;
    margin: 5rem 0;
}

.banner-inicio h1 span{
    font-weight: 700;
}

.banner-inicio-cont{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10rem;
}

.banner-inicio-cont__btns{
    display: flex;
    gap: 2rem;
}

.banner-inicio-cont__btns__boton{
    background-color: var(--secundario);
    font-size: 2rem;
    color: var(--blanco);
    font-family: var(--fuenteHeading);
    outline: none;
    border: none;
    border-radius: 3px;
    padding: 1rem;
    transition: ease-out .3s;
}


.banner-inicio-cont__btns__boton:hover{
    background-color: #ff97d9;
}

/*---- MODAL-----*/

#exampleModal{
    font-size: 1.7rem;
}
#exampleModal button{
    font-size: 1.8rem;
}
#burger{
    color: var(--blanco);
}

/* ---seccion principal--- */

#contenedor-productos{
    max-width:120rem ;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly ;
    gap: 2rem;
    margin: auto;
}

#contenedor-productos .card .card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contenido-principal{
    padding-top: 5rem;
}

.card img{
    min-height: 180px;
    max-height: 180px;
}

.iconos{
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.iconos h2{
    color: var(--secundario);
    padding-top: 1.5rem;
}

#contenedor-productos .card{
    min-width: 22rem;
    min-height: 35rem;
    box-shadow: 5px 15px 20px rgba(0, 0, 0, 0.3);
    border: none;
}

.card .card-body .btn{
    min-height: 3.5rem;
    font-size: 1.5rem;
}

.card-body p{
    font-family: var(--fuenteParrafos);
    font-weight: 700;
    font-size: 1.5rem;
}



/*---- Footer ----*/
.cont-footer{
    margin-top: 5rem;
    background-color: #ff97d9;
    width: 100%;
    min-height: 10rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.cont-footer__copy{
    color: var(--blanco);
    font-family: var(--fuenteParrafos);
    font-weight: 400;
    font-size: 1.7rem;
    text-align: center;
    grid-column: 2;
    margin:auto 0;
}

.cont-footer__redes{
    color: var(--blanco);
    grid-column: 1;
    margin:auto;
}

.cont-footer__redes i{
    font-size: 2.5rem;
    padding: .7rem;
    color: var(--blanco);
}





/*--------- contacto -------*/

#cont-contact{
    padding-top:5rem ;
}
#cont-contact p{
    font-size: 1.5rem;
}
.contact-title{
    font-size: 5rem;
    font-family: var(--fuenteHeading);
    font-weight: 400;
    color: #fb69ca;
}
.contact-wrapper{
    padding:1rem;
    box-shadow: 5px 15px 20px rgba(0, 0, 0, 0.3);
}

.contact-form{
    background-color: var(--blanco);
}

.contact-form form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form .block{
    grid-column: 1 / 3;
}

.contact-form form p{
    margin: 0;
    padding: 1.5rem;
}

.contact-form form button ,
.contact-form form input,
.contact-form form textarea{
    width: 100%;
    padding: 0.7rem;
    border: none;
    background: none;
    outline: none;
    border-bottom: 1px  solid var(--secundario) ;
}

.contact-form form button{
    background-color: var(--secundario);
    border: none;
    color: var(--blanco);
    text-transform: uppercase;
    padding: 1.2rem; 
    transition: ease-out .4s;  
}
.contact-form form button:hover{
    background-color:  #ff97d9;
}
.contact-info{
    background-color:var(--blanco);
    color:var(--secundario) ;
    font-family: var(--fuenteParrafos);
    font-size: 1.5rem;
    padding: 1rem;
    border-left: 1px solid var(--gris); 
    border-top: none;
}
.contact-info h2,
.contact-info ul,
.contact-info p{
    text-align: center;
    margin:0 0 1rem 0;
}

.contact-info ul{
    list-style: none;
    padding: 0;
}

/* ----- NOSOTROS -----*/

.us-cont{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100vh;
}

.us-cont__bg{
    background-image: url(../img/fondo_nosotros.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.us-cont__description{
    background-color: var(--blanco);
    margin-top: 7rem;
}

.us-cont__description h2{
    padding-top: 5rem;
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--secundario);
    text-align: center;
    font-family: var(--fuenteHeading);
}

.us-cont__description h1{
    font-size: 4rem;
    text-align: center;
    font-family: var(--fuenteHeading);
}

.us-cont__description h1 span{
    font-weight: 700;
    color: var(--negro);
}

.us-cont__description p{
    font-size: 1.5rem;
    font-weight: 400;
    font-family: var(--fuenteParrafos);
    text-align: center;
}

.us-cont__description__wp-icon{
    display: flex;
    justify-content: flex-end;
    margin:0 3rem 4rem 0; 
}


/* pantallas grandes */

@media screen and (min-width:768px) {
    .contact-wrapper{
        display: grid;
        grid-template-columns:2fr 1fr;
        padding: 0;
    }

    .contact-info h2,
    .contact-info ul,
    .contact-info p{
        padding:2rem;
        text-align: left;
    }
}


@media screen and  (max-width:767px){
    .contact-info{
        border-left: none;
        border-top: 1px solid var(--gris);
    }

    .cont-footer{
        display: flex;
        flex-direction: column;
        padding: 2rem 0;
    }

    .cont-footer__redes{
        text-align: center;
    }
}



/*  ----  Phones ----  */

@media screen and (min-width:320px)  and (max-width:480px){
    
    /*-- home --*/


    .banner-inicio{
        background-position: center;
    }
    .banner-inicio-cont h1{
        font-size: 6rem;
    }

    .banner-inicio-cont__btns__boton{
        font-size: 1.4rem;
        padding:.7rem ;
    }

    .iconos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 2rem;
    }
    #contenedor-productos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
    }

    #contenedor-productos .card{
        min-width: 18rem;
        max-width: 18rem;
        max-height: 30rem;
    }
    #contenedor-productos .card img{
      min-width: 100%;
    }
}